.container{
     text-align: center;
     margin-top: 23px;
}
table{
    margin:auto;
}

input{
    border-radius: 21px;
    border: 5px solid black;
    font-size: 34px;
}
button{
    border-radius: 20px;
    font-size: 40px;
    background: rgba(255, 0, 76, 0.664);
    width: 102px;
    height: 58px;
}
.calculator{
    background-color:  #ff99f7;
    padding: 23px;
    border-radius: 53 px;
    display: inline-block;
}